html,
body {
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}

.wrapper {
    position: relative;
    width: 250px;
    height: 150px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    display: block;
    border: 2px solid rgb(105, 105, 105);
    background-color: white;
}