<body>
    <br /><br /><br />
    <div style="background: rgb(10, 15, 15, 0.950); color: rgba(255, 255, 255)" class="w-75 mx-auto rounded text-center">
        <br />
        <h1>DECLARACIÓN RESPONSABLE E INCIDENCIAS EN LOS SERVICIOS MÍNIMOS</h1>
        <br /><br /><br /><br />
        <p>A continuación podras rellenar facilmente el informe de la mancomunidad</p>
        <br /><br /><br /><br />
        <button type="button" style="opacity: 1" class="btn btn-success w-50" [routerLink]="['/formulario']">
            Continuar</button><br /><br />
        <br /><br /><br />
    </div>
</body>